.password-updated-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1; 
    width: 100%;
    padding: 0;
    background-color: var(--neutral-100); 
}

.password-updated-container {
    margin-top: 60px;
    max-width: 500px;
    padding: 48px;
    background-color: var(--basewhite);
    border-radius: var(--button-border-radius);
    box-shadow: var(--card-shadow);
}

.password-updated-content {
    position: relative;
    text-align: center;
}

.close-icon {
    position: absolute;
    top: -35px;  
    right: -40px; 
    width: 40px;  
    height: 40px;
    cursor: pointer;
    z-index: 1;  
}

.password-updated-content h1 {
    font-family: var(--desktop-button-CTA-font-family); 
    font-size: var(--large-h1-bold-font-size); 
    font-weight: var(--large-h1-bold-font-weight); 
    line-height: var(--large-h1-bold-line-height); 
    color: var(--secondary-color); 
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 16px;
}

.password-updated-content p {
    font-family: var(--body-p2-regular-font-family); 
    font-size: var(--body-p2-regular-font-size); 
    line-height: var(--body-p2-regular-line-height); 
    font-weight: 500; 
    color: var(--secondary-color); 
    text-align: center;
    margin-bottom: 32px;
}

.login-button {
    width: 100%;
    padding: 10px 0;
    font-family: var(--desktop-button-CTA-font-family);
    font-size: var(--desktop-button-CTA-font-size);
    line-height: var(--desktop-button-CTA-line-height);
    font-weight: var(--desktop-button-CTA-font-weight);
    background-color: var(--primary-orange);
    color: var(--basewhite);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--orange-button-shadow);
    margin-top: 16px;
}

.login-button:hover {
    background-color: #e67e22;
}
